<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title" style="padding: 0 !important; padding-left: 10px !important;">Aggiungi perizia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="next()">
        <ion-icon name="arrow-forward" class="icon" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="img">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo" (click)="showActionSheet(photo, position)"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div id="descrizione">

  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>