<div id="schedaLogin">
  <div id="divLog">
    <h2><b>Benvenuto, accedi al tuo account </b></h2>
    <div id="form">
      <div>
        <span class="icon-span">
          <ion-icon name="person" class="small-icon"></ion-icon>
        </span>
        <span class="input-span">
          <input type="text" id="username" class="input" style="margin-left: 5px;" [(ngModel)]="username">
        </span>
      </div>
      <div>
        <span class="icon-span-pwd">
          <ion-icon name="lock-closed" class="small-icon"></ion-icon>
        </span>
        <span class="input-span">
          <input type="password" id="pwd" class="input" [(ngModel)]="pwd">
        </span>
      </div>
    </div>
    @if (lblErr) {
    <div class="alert" id="lblErrore">
      <strong>Username o Password non validio!</strong>
    </div>
    }
    @if (lblPwd) {
    <div class="alert" id="lblPwd">
      <strong>Password inviata sulla tua email!</strong>
    </div>
    }
    @if (lblChange) {
      <div class="alert" id="lblChange">
        <strong>Inserire la mail!</strong>
      </div>
      }

    <button id="btnLogIn" class="button" (click)="login()">LOGIN</button>
    <button id="btnLogInGoogle" class="button" (click)="loginGoogle()">LOGIN WITH GOOGLE</button>
    <!-- <div id="g_id_onload"
     data-client_id="213127280080-nl35e3140l7f26dt6ei1mkj3cdh5fj7t.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="https://localhost:3000"
     data-itp_support="true"
     data-callback = "handleOauthResponse"
     >
    </div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->
    <div id="pwdDimenticata" (click)="pwdDimenticata()">Hai dimenticato la password?</div>
  </div>
</div>