<div id="divProfilo">
    @if (loader) {
        <div class="divload">
          <div class="loader"></div>
        </div>
      
    }
    <div id="title">
        Informazioni operatore
        <ion-icon name="exit-outline" size="large" id="edit" slot="end" (click)="logOut()"></ion-icon>
    </div>
    <div class="profile-section">
        <div class="profile-picture">
            <img src="{{user.img}}" alt="Immagine Profilo">
        </div>
        <div class="profile-details">
            <p><strong>Codice operatore:</strong> <span> {{user.codOperatore}}</span></p>
            <p><strong>Nome:</strong> <span> {{user.nome}}</span></p>
            <p><strong>Cognome:</strong> <span> {{user.cognome}}</span></p>
            <p><strong>Email:</strong> <span id="mailSpan"> {{user.email}}</span></p>
        </div>
    </div>
    @if (mappa) {
        <div id="map">
            
        </div>
        <br>
        <div class="flex">
            <div style="font-weight: 400;">
                <div style="margin-bottom: 10px;"><b>Durata:</b> {{durata}} <br></div>
                <b>Lunghezza:</b> {{lunghezza}}
            </div>
            <div style="font-weight: 400;">
                <button id="chiudiMap" (click)="chiudiMappa()">Chiudi mappa</button>
            </div>

        </div>
        <br>
    }
    <div id="perizie">
        @for (perizia of perizie; track $index) {
        <div class="perizia" (click)="caricaMappa(perizia.coordinate)">
            <div class="infoPer">
                <div class="titlePer">Perizia {{$index+1}}</div>
                <div style="display: flex;align-items: center;"><ion-icon name="calendar"
                        style="margin-bottom: 13px; margin-right: 4px;"></ion-icon>
                    <div class="datePer">{{perizia.data.replaceAll("-","/").replaceAll("20","")}}</div>
                </div>
                <div style="display: flex;align-items: center;"><ion-icon name="time"
                        style="margin-right: 4px;"></ion-icon>
                    <div class="oraPer">{{perizia.ora}}</div>
                </div>
            </div>
            <div class="descPer">
                <strong>Descrizione: </strong>{{perizia.descrizione}}
            </div>
        </div>
        }
    </div>
    <div style="width: 100% !important;">
        @if (newPass) {
            <div style="margin-left:5%;margin-right:5%;width: 90%;color: green;background-color: rgb(195, 255, 195);border: 1px solid rgb(0, 194, 0);border-radius: 5px;padding: 10px;">
                La nuova password è sulla tua email! Effettuare il login con la nuova password per poterla cambiare.
            </div>
        }
        <button id="newPassword" (click)="changePass()">Cambia password</button>
    </div>
</div>